extends layout

block content
  nav
    div.nav-content
      div.nav-links
        div
          a(href='/')
            p Home
          if (!user)
            a(href='/sign-up')
              p Sign Up
            a(href='/sign-in')
              p Sign In
          if (user)
            a(href='/sign-out')
              p Sign Out
        div
          if (user && !user.isMember)
            a(href='/apply-member')
              p Become a Member
          if (user && !user.isAdmin)
            a(href='/apply-admin')
              p Become an Admin


  main.content
    h1= title
    .content-display
      .content-container
      .content-container#messages-container
        .messages-container
          .messages-content
            .new-message
              p Some Text
            .new-message
              p Some Text 2
          form.new-message-container(method='POST' action='/send-message')
            .form-control
              label(for='title') Title:
              input#title(type='text' name='Title' placeholder='Title' required='false')
            .form-control
              label(for='message') Message:
              input#message(type='text' name='message' placeholder='Message' required='true')
            div
              button(type='submit') Submit

      .content-container
        if (user)
          .user-info
              p Welcome #{user.username}!
              p isMember? #{user.isMember}
              p isAdmin? #{user.isAdmin}




