extends layout

block content
  nav
    div.nav-content
      div.nav-text
        p Members Only!
        if (user)
          p Welcome #{user.name}!
          p Test, isMember? #{user.isMember}
    div.nav-links
      div
        a(href='/')
          p Home
        a(href='/sign-up')
          p Sign Up
        a(href='/sign-in')
          p Sign In
      div
        a(href='/apply-member')
          p Become a Member
        a(href='/apply-admin')
          p Become an Admin


  main.content
    h1= title
