.form-container {
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0 , 0.3);
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    height: 600px;
}

.header {
    padding: 20px 20px;
    background: whitesmoke;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    padding: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}


.form-control input {
    border: 2px solid whitesmoke;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    width: 90%;

    padding: 10px;
    font-size: 14px;
}

.form-control.success input {
    border-color: forestgreen;
}

.form-control.error input {
    border-color: darkred;
}

.form-control.success i.fa-check-circle {
    color: forestgreen;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: darkred;
    visibility: visible;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 36px;
    right: 10px;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: darkred;
    visibility: visible;
}

.form button {
    padding: 10px;
    width: 100%;
    display: block;
    border: 2px solid #1a73e8;
    border-radius: 4px;
    background: #1a73e8;
    color: white;
}



.form button:hover {
    background-color: #004f9f;
    border-color: #004f9f;
}