li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#messages-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.messages-content {
    height: calc(100% - 115px);
    display: flex;
    flex-direction: column;
}

.new-message-container {
    height: 115px;
}

.messages {
    padding: 0;
    margin: 0;
    width: 100%;
}

.messages li {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 90%;
}

.message-control input{
    border: none;
    border-bottom: 1px solid grey;
    display: block;
    font-family: inherit;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

.submit-message {
    margin: 0;
    border: none;
    width: 100%;
    padding: 10px 0;
}

.submit-message:hover {
    background-color: lightgreen;
}

.message-title {
    font-weight: bold;
    padding: 3px;
    margin-left: 10px;
}

.message-text {
    padding: 3px;
    margin-left: 10px;
}
